---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import GalleryImage from '../components/gallery-image.astro';
import ComplementItem from '../components/complement-item.astro';
import SauceItem from '../components/sauce-item.astro'; 
import ComboItem from '../components/combo-item.astro';


import Location from '../assets/Location.png'
import MapImg from '../assets/Screenshot de mapa.png'

import hero_img from '../assets/testImages/tasty-boneless-chicken-sauce.png';
import boneless_img from '../assets/testImages/quality-boneless-ranch.jpg'
import fries_img from '../assets/testImages/fries.webp'

---

<Layout title="Boneless Crave">
	<main>
		<div class="hero-container">
			<section class="hero-section">
				<div class="headline-container">
					<h1 class="headline">Tu <span class="headline-highlight">antojo</span>, <br>nuestra <span class="headline-highlight">pasión</span></h1>
					<p class="sub-headline">Saboréa las Combinaciones Perfectas</p>
					<div class="hero-call-to-action">
						<a class="hero-order-call-to-action" href="#call-to-action">
							Ordenar
						</a>
					</div>
				</div>
				<div class="hero-image-container-border">
					<div class="hero-image-container">
						<Image src={hero_img} alt="Mejores boneless de chihuahua CUU" loading="lazy"></Image>
					</div>
				</div>	
			</section>
			<a href="#menu" class="hero-menu-cta">Explorar Menú</a>
		</div>
		
		<div id="aboutUs" class="aboutUs-container">
			<section class="aboutUs-section">
				<div class="aboutUs">
					<h2><strong class="hightlight">Boneless</strong> Crave</h2>
					<p>
						Creamos sabores auténticos acompañados de complementos excepcionales que hacen la diferencia.
					</p>
					
				</div>
				<div class="gallery-container">
					<div class="gallery-track">
						<Image id="img-test" src={fries_img} alt="test"></Image>
						<Image src={fries_img} alt="test"></Image>
						<Image src={fries_img} alt="test"></Image>
						<Image src={fries_img} alt="test"></Image>
						<Image src={fries_img} alt="test"></Image>
						<Image src={fries_img} alt="test"></Image>
						<Image src={fries_img} alt="test"></Image>
						<Image src={fries_img} alt="test"></Image>
						<Image src={fries_img} alt="test"></Image>

					</div>
				</div>	
			</section>
			
		</div>
		<div id="menu" class="menu-container waves">
			<h2 class="menu-title">Menú</h2>
			<div class="menu-section-container">
				<section class="menu-section">
					<h2>Especialidades</h2>
					<div class="item">
						<Image src={boneless_img} alt="Mejores boneless de chihuahua con aderezo ranch"></Image>
						<div class="description">
							<h3>Boneless</h3>
							<p>Boneless bañados en una de nuestras deliciosas salsas</p>
							<p class="price">250gr - $140</p>
						</div>
					</div>
				</section>
				<section class="menu-section">
					<h2>Salsas</h2>
					<div class="sauces-container">
						<SauceItem class="bbq-color" name="BBQ" isHot={false}></SauceItem>
						<SauceItem class="lemon-pepper-color" name="Lemon Pepper" isHot={false}></SauceItem>
						<SauceItem class="jalapeño-color" name="Jalapeño" isHot={true}></SauceItem>
						<SauceItem class="buffalo-color" name="Buffalo" isHot={true}></SauceItem>
						<SauceItem class="mango-habanero-color" name="Mango Habanero" isHot={true}></SauceItem>
					</div>
				</section>
			</div>
		</div>
		<div id="social-proof" class="social-proof-container">
			<seciton class="social-proof-section">
				<h2>Lo que los clientes dicen de nosotros</h2>
			</seciton>
		</div>
		<div id="call-to-action" class="call-to-action-container">
			<section class="call-to-action-section">
				<h2>Ordena a <strong>Domicilio</strong> ó <strong>Para llevar!</strong></h2>
				<div class="anchors-container">
					<a href="#" class="delivery"><span>Uber</span> Eats</a>
					<a href="#" class="toGo">WhatsApp</a>
				</div>
				<footer>
					<p>Los precios en uber eats aumentan de precio.</p>
				</footer>
			</section>
		</div>
		<div id="location" class="location-container">
			<section class="location-section">
				<section class="location">
					<h2>Ubicación</h2>
					<div>
						<Image
						src={Location}
						decoding="async"
						loading="lazy"
						alt="Foto de la vista por enfrente del negocio Boneless Crave.">
						</Image>
						<div class="location-description">
							<section>
								<h3>Dirección</h3>
								<address>Boneless Crave, Calle Ignacio Allende, Zona Centro, Chihuahua <br>
										614-555-6677
								</address>
							</section>
							<section>
								<h3>Horario</h3>
								<p class="days">Martes a Sabado</p>
								<p>12:30pm a 20:00pm</p>
								<p class="days">Domingo</p>
								<p>13:00pm a 19:00pm</p>
							</section>
						</div>
					</div>
				</section>
				<section class="map">
					<h2>Mapa</h2>
					<Image src={MapImg} alt="Screenshot del mapa proporcionado por google maps del negocio boneless crave"></Image>
						{/* aspect ratio = 177/116
					1.-Google docs example for api call for embed maps, the page generates the html code itself, https://developers.google.com/maps/documentation/embed/get-started
					2.-I have to create new project on the google cloud console, will wait until the boneless location is set up in google maps to continue as they ask for location
					of business, don't want to use the punto verde cafe location, want to have a different page for the boneless business
					
					<iframe
						width="100%"
						aspect-ratio="x/y"
						style="border:0"
						loading="lazy"
						allowfullscreen
						referrerpolicy="no-referrer-when-downgrade"
						src="https://www.google.com/maps/embed/v1/place?key=API_KEY
							&q=Space+Needle,Seattle+WA">
					</iframe>*/}
				</section>
			</section>
				
				
			

				
				

				
				
			</section>
		</div>
		
	</main>
</Layout>

<script>

	/*---Hero img load-------Move to file later--------
	1- the loaded class adds opasity 1, it initially is set to 0
	const LOADED_CLASS = "loaded"

	const imgContainer = document.querySelector('.hero-image-container')
	const img = imgContainer?.querySelector('img')

	function loaded() {
		imgContainer?.classList.add(LOADED_CLASS)
	}

	if (img?.complete) {
		loaded()
	}
	else {
		img?.addEventListener('load', loaded)
	}*/

	/* About us gallery */
	const galleryTrack = document.querySelector('.gallery-track');
	
	const numberOfImages = galleryTrack?.children.length;
	let translatePercentage = 0;
	if (numberOfImages !== null && numberOfImages !== undefined) {
		translatePercentage = (50 / numberOfImages) * 3
	}
	if (galleryTrack instanceof HTMLDivElement) {
		
		galleryTrack.style.translate = `-${translatePercentage}%`;
	}


	const galleryContainer = document.querySelector('.gallery-container')
	let initialCoordX = 0
	let sliderPercentage = 0
	let previousSliderPercentage = 0
	let currentSliderPercentage = 0
	galleryContainer?.addEventListener('mousedown', (e) => {
		const mouseDownEvent = e as MouseEvent
		if (mouseDownEvent.target === galleryContainer) {
			initialCoordX = mouseDownEvent.clientX
		}
	})
	galleryContainer?.addEventListener('mouseup', (e) => {
		const mouseDownEvent = e as MouseEvent
		if (mouseDownEvent.target === galleryContainer) {
			initialCoordX = 0
			previousSliderPercentage = currentSliderPercentage
		}
	})
	galleryContainer?.addEventListener('mousemove', (e) => {
		const mouseMoveEvent = e as MouseEvent
		if (mouseMoveEvent.target === galleryContainer) {
			if (initialCoordX === 0) return;
			const screenWidthPercentage: number = .65
			const sliderWidth = window.innerWidth * screenWidthPercentage

			const screenTraveled = initialCoordX - mouseMoveEvent.clientX
			sliderPercentage = -(screenTraveled / sliderWidth) * 100
			
			currentSliderPercentage = previousSliderPercentage + sliderPercentage
			console.log(currentSliderPercentage)
			if (currentSliderPercentage > 0 ) currentSliderPercentage = 0;
			if (currentSliderPercentage < (-100 + translatePercentage * 2)) currentSliderPercentage = (-100 + translatePercentage * 2)
			if (galleryTrack instanceof HTMLDivElement) {
				galleryTrack.animate({transform: `translate(${currentSliderPercentage}%, 0%)`}, {duration: 1200, fill: 'forwards', easing: 'ease-in-out'}) 
			}
		}
	})
	

	



	
</script>
<style >
	/* Social proof  */
	.social-proof-container {
		padding-block: var(--section-padding-large);
		width: 100%;
	}
	.social-proof-section h2{
		text-align: center;

		font-size: var(--font-size-x-large);
		font-weight: var(--font-weight-large);
	}


	/* About us and Hours */
	.aboutUs-container {
		padding-block: var(--section-padding-large);
	
		width: 100%;

		display: flex;
		justify-content: center;

	}
	.aboutUs-section {

		width: 100%;

		border-top: 2px solid var(--priamry-color-500);

		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.aboutUs {
		text-align: center;
	}
	.aboutUs h2 {
		font-family: 'Laila';
		font-size: var(--font-size-headline);
		font-weight: var(--font-weight-medium);
		line-height: calc(1.2 * var(--font-size-headline));
		letter-spacing: calc(-.01 * var(--font-size-headline));

	}
	.aboutUs .hightlight {
		color: var(--primary-color-500)
	}
	.aboutUs p {
		text-wrap: balance;
		line-height: calc(1.7 * var(--font-size-small));
		font-size: var(--font-size-medium);
		font-weight: var(--font-weight-small);
	}
	.gallery-container{
		--height: 45vmin;
		position: relative;

		width: 100%;
		padding-bottom: 58vmin;

	}
	.gallery-track {
		position: absolute;
		left: 50%;
		top: 0%;

		display: flex;
		gap: 4vmin;
	
		padding-block : var(--section-padding-small);

		pointer-events: none;
	}
	.gallery-container img {
		width: 55vmin;
		height: auto;
		border-radius: 5vmin;

		object-fit: cover;
		object-position: center center;
		/*width: auto;
		height: var(--height);	*/
	}
	@media (max-width: 992px) {
		.gallery-track {
			flex-direction: column;
		}
	}
	
  



	main {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0;
		color: var(--text-color);
		font-size: 20px;
		line-height: 1.6;
		width: 100%;
	}



	/* Hero */
	.hero-container {
		width: min(1300px, (100% - 1rem));
		height: max((100vh - var(--nav-height) - var(--section-padding-large)), 530px);
	
		position: relative;

		padding-top: var(--section-padding-large);
	}
	.hero-menu-cta {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%, -50%);		

		border: 2px solid var(--primary-color-500);
		border-radius: 6px;

		padding-inline: var(--spacing-300);
		padding-block: var(--spacing-200);

	}
	.hero-section {
		display: grid;
		align-items: center;
		justify-items: center;
		gap: 3rem;	
	}
	
	@media (max-width: 992px) {
		.hero-container {
			height: auto;
			margin-top: var(--section-margin-medium);
			padding-bottom: var(--section-padding-large);
		}
		.hero-section {
			gap: 5rem;
		}
	}
	
	
	.headline-container {
		flex: 1;
		text-wrap: balance;
	}
	.headline {
		font-family: 'Laila';
		font-weight: 600;
		font-size: var(--font-size-headline);
		margin-top: 0px;
		margin-bottom: 1rem;
		line-height: 70px;
		color: var(--text-color);
	}
	.headline-highlight {
		font-family: 'Laila';
		font-weight: var(--font-weight-large);
		color: var(--primary-color-500);
	}
	.sub-headline {
		font-size: 2rem;
		font-weight: 600;
		margin: 0px;
		color: var(--text-color);
	}

	.hero-call-to-action {
		margin-top: var(--spacing-500);
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 1rem;
	}
	@media (max-width: 992px) {
		.hero-call-to-action {
		justify-content: center;
		}
	}
	.hero-call-to-action > a {
		width: fit-content;
	}
	.hero-order-call-to-action {
		padding-block: var(--spacing-300);
		padding-inline: var(--spacing-700);
		background-color: var(--primary-color-500);
		border-radius: 999px;
		border: 3px solid var(--primary-color-500);
		color: var(--text-contrast-color);
		font-weight: var(--font-weight-large);
		font-size: var(--font-size-large);
	}
	.hero-image-container-border {
		width: 90%;
		max-width: 500px;
		aspect-ratio: 1 / 1;
		position: relative;
	}

	
	.hero-image-container {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		max-width: 450px;
		aspect-ratio: 1 / 1;
		border-radius: 9999px;
		overflow: hidden;
		background-size: cover;
		background-position: center;
	}
	.hero-image-container img {
		display: block;
		width: 100%;
		height: -webkit-fill-available;
		aspect-ratio: 1 / 1.5;
		object-fit: cover;
		object-position: center;
		transition: opacity 250ms ease-in-out;
	}





	/* Menú */
	.menu-container {
		padding-block: var(--section-padding-large);
		width: 100%;

		background-color: var(--background-color-600);

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.menu-container .menu-title {
		font-size: var(--font-size-headline);
		font-weight: var(--font-weight-large);

		background-color: var(--primary-color-500);
		color: var(--text-contrast-color);

		padding-inline: var(--spacing-700);
		padding-block: var(--spacing-300);

		margin-bottom: var(--section-margin-small);
		display: inline;

		border-radius: 25px;

	}
	.menu-section-container {
		width: 100%;
		
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.waves {
		--wave-color: var(--background-color-500);
		--wave-height: 20px;
		--wave-width: calc(var(--wave-height) * 8);

		position: relative;
	}
	.waves::before, .waves::after {
		content: '';
		position: absolute;
		left: 0;
		height: var(--wave-height);
		background: var(--wave-color);
		-webkit-mask-image: url('../assets/Waves/waves.svg');
		-webkit-mask-size: var(--wave-width) var(--wave-height);
		mask-image: url('../assets/Waves/waves.svg');

		width: 100%;
	}

	.waves::before {
		top: 0;
	}
	.waves::after { 
		bottom: 0;
		transform: rotate(.5turn);
	}
	.menu-section {
		width: min(1300px,(100% - 1rem));
		padding-block: var(--section-padding-small);

		border-top: 2px solid var(--background-color-400);
	}
	.menu-section h2 {
		color: var(--text-color);

		font-size: var(--font-size-x-large);
		line-height: 1;
		text-align: center;

		margin-bottom: var(--section-margin-small);
	}
	.menu-section .item {
		display: flex;
		align-items: center;
		gap: 32px;

		padding-inline: var(--spacing-700);

		color: var(--text-color);
	}
	.menu-section .item > * {
		flex: 1;
	}
	.menu-section .item img{
		width: 30%;
		height: auto;
		aspect-ratio: 1/1;
		object-fit: cover;
		object-position: center;

		border-radius: 36px;
		box-shadow: 2px 2px 3px black;
	}
	.menu-section .item .description {
		text-align: end;
	}
	.menu-section .item .description h3{
		border-bottom: 1px solid var(--primary-color-500);

		font-size: var(--font-size-subheadline);
	}
	.menu-section .item .description .price{
		font-weight: var(--font-weight-medium);
		font-size: var(--font-size-large);
	}

	.sauces-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 16px;
	} 


	

	
/* Location */
.location-container {
		width: 100%;
		
		padding-block: var(--section-padding-large);

		display: flex;
		justify-content: center;
	}
	.location-section {
		width: min(1300px, 100% - 2rem);

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.location-section h2 {
		text-align: center;

		font-size: var(--font-size-x-large);
		font-weight: var(--font-weight-large);
	}
	.location-section .location {
		width: 100%;
	}
	.location-section .location div{
		display: flex;
		justify-content: space-between;

		margin-block: var(--section-margin-small);
	}
	.location-section .location img {
		width: 45%;
		height: auto;
		aspect-ratio: 1/1;

		border-top-left-radius: 30%;
		border-top-right-radius: 16px;
		border-bottom-right-radius: 30%;
		border-bottom-left-radius: 16px;

	
	}
	.location-section .location .location-description {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: var(--spacing-400);
	}
	.location-section .location .location-description h3 {
		font-size: var(--font-size-large);
	}
	.location-section .location .location-description address {
		text-wrap: balance;
	}
	.location-section .location .location-description .days {
		font-size: var(--font-size-medium);
		font-weight: var(--font-weight-medium);
	}
	.location-section .map {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.location-section .map img {
		width: 70%;
		height: auto;
		aspect-ratio: auto 708 / 464;

		margin-block: var(--section-margin-small);
		align-self: center;
	}

	@media (max-width: 992px) {
		.location-section .location div{
			flex-direction: column;
			align-items: center;
		}
		.location-section .location div > *{
			width: 100%;
		}

		.location-section .map img {
			width: 90%;
		}
	}


	
	/* Call to action */
	.call-to-action-container {
		width: 100%;

		display: flex;
		justify-content: center;

		padding-block: var(--section-padding-large);
		background-color: var(--background-color-600);

		color: var(--text-color);
	}
	.call-to-action-section {
		width: min(1300px, 100% - 2rem);

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.call-to-action-section h2 {
		font-size: var(--font-size-x-large);
		font-weight: var(--font-weight-large);
		line-height: 1;

		text-wrap: balance;
	}
	.call-to-action-section h2 strong{
		color: var(--primary-color-500);
	}
	.call-to-action-section .anchors-container {
		margin-block: var(--spacing-700);
	}
	.call-to-action-section a {
		padding-inline: var(--spacing-600) ;
		padding-block: var(--spacing-300);

		background-color: var(--primary-color-500);
		color: var(--text-contrast-color);

		font-weight: var(--font-weight-large);
	
	}
	.call-to-action-section .delivery {
		border-top-left-radius: 24px;
	}
	.call-to-action-section .delivery:hover {
		background-color: var(--uberEats-background-color);
		color: var(--uberEats-color);
	}
	.call-to-action-section .delivery:hover span{
		color: white;
	}
	.call-to-action-section .toGo {
		border-bottom-right-radius: 24px;
		border-left: 1px solid black;
	}
	.call-to-action-section .toGo:hover {
		background-color: var(--whatsApp-background-color);
		color: var(--whatsApp-color);
	}
	.call-to-action-section footer {
		text-wrap: balance;
	}



	
	
</style>
