---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import GalleryRow from '../components/gallery-row.astro';
import MenuComboItem from '../components/menu-combo-item.astro';
import MenuItem from '../components/menu-item.astro';
import MenuSauceItem from '../components/menu-sauce-item.astro'; 
import Review from '../components/review.astro';
import CTA from '../components/call-to-action.astro'

import hero_boneless_hq_img from '../assets/Hero-images/boneless-buffalo-sauce-1000-1446-hq.webp'
import hero_boneless_lq_img from '../assets/Hero-images/boneless-buffalo-sauce-1000-1446-lq.webp'
import hero_oreos_hq_img from '../assets/Hero-images/oreos-fried-glass-1000-1446-hq.webp'
import hero_oreos_lq_img from '../assets/Hero-images/oreos-fried-glass-1000-1446-lq.webp'
import hero_fries_hq_img from '../assets/Hero-images/fries-paprika-1500-2169-hq.webp'
import hero_fries_lq_img from '../assets/Hero-images/boneless-buffalo-sauce-1000-1446-lq.webp'

import boneless_crave_location_img from '../assets/Location-images/boneless-crave-location.webp'

import hero_img from '../assets/Food-images/boneless-fork.png'

import boneless_img from '../assets/Food-images/boneless-hero-section.webp'
import french_fries_seasoned_img from '../assets/Food-images/french-fries-seasoned.webp'

import combo_1_img from '../assets/Food-images/boneless-fries.webp'

import fries_img from '../assets/AboutUs-images/fries.webp'
import oreos_img from '../assets/Food-images/deep-fried-oreos.webp'

import male_reviewer_1_img from '../assets/Review-images/young-review-man-1.webp'
import male_reviewer_2_img from '../assets/Review-images/young-review-man-2.webp'
import female_reviewer_1_img from '../assets/Review-images/young-review-woman-1.webp'
---

<Layout title="Boneless Crave" themeColor="#ffb703">
	<main>
		<div id="hero" class="hero-container">
			<section class="hero-section section-inline-margin">
				<div class="headline-container">
					<h1 class="headline"><span class="headline-highlight">Crujientes</span> y <span class="headline-highlight">Deliciosos</span></h1>
					<p class="sub-headline">Los mejores combos de boneless para llevar</p>
					<CTA></CTA>
				</div>
				<div class="hero-gallery-container">
					<Image src={hero_fries_hq_img} alt="Imagen de deliciosas papas a la francesa sazonadas con paprika, sal y pimienta, atras de las papas se muestra un fondo blanco"></Image>
					<Image src={hero_oreos_hq_img} alt="Imagen de deliciosos oreos fritos, espolvoreados con azucar glass, atras de los oreos se muestra un fondo blanco"></Image>
					<Image src={hero_boneless_hq_img} alt="Imagen de boneless deliciosos, cubiertos en salsa buffalo, atras de los boneless se muestra un fondo blanco"></Image>
				</div>	
			</section>
			<a href="#menu" class="hero-menu-cta">Explorar Menú</a>
		</div>	
		<div id="aboutUs" class="aboutUs-container">
			<section class="aboutUs-section">
				<header class="aboutUs-header">
					<h2><strong class="hightlight">Boneless</strong> Crave</h2>
					<p>
						Creamos sabores auténticos acompañados de complementos excepcionales que hacen la diferencia.
					</p>
				</header>
				<div class="gallery-container">
					<GalleryRow 
						imgOne={french_fries_seasoned_img} imgOneAlt='Imagen de deliciosas papas a la francesa, sazonadas con paprika, sal y pimienta'
						imgTwo={oreos_img} imgTwoAlt='Imagen de oreos fritos espolvoreados con azucar glass partidos a la mitad, mostrando su orilla frita y relleno suave'
						imgThree={boneless_img} imgThreeAlt='Imagen de deliciosos boneless bañados en una salsa buffalo'>
					</GalleryRow>
				</div>
			</section>
			
		</div>
		<div id="menu" class="menu-container">
			<h2 class="menu-title">Menú</h2>
			<div class="menu-section-container">
				<section class="menu-section">
					<h2>Combos</h2>
					<MenuComboItem 
						comboItemTitle="Combo #1"
						comboItemDescription='Boneless, papas fritas y oreos fritos (Estimado: 1 persona)'
						comboItemImage={combo_1_img}
						comboItemImageAlt='Combo de boneless, papas fritas y oreos fritas'
						itemQtyName={[{itemName: "Boneless", itemQuantity: '300gr'}, {itemName: "Papas fritas", itemQuantity: '350gr'}, {itemName: "Oreos fritas", itemQuantity: '2 pz'}]}
						comboItemPrice= {140}
						isImageLeft='true'>
					</MenuComboItem>
					<MenuComboItem 
						comboItemTitle="Combo #2"
						comboItemDescription='Boneless, papas fritas y oreos fritos (Estimado: 2 personas)'
						comboItemImage={combo_1_img}
						comboItemImageAlt='Combo de boneless, papas fritas y oreos fritas'
						itemQtyName={[{itemName: "Boneless (2 salsas)", itemQuantity: '500gr'}, {itemName: "Papas fritas", itemQuantity: '500gr'}, {itemName: "Oreos fritas", itemQuantity: '4 pz'}]}
						comboItemPrice= {140}
						isImageLeft='false'>
					</MenuComboItem>
				</section>
				<section class="menu-section">
					<h2>Salsas</h2>
					<div class="sauces-container">
						<MenuSauceItem class="mango-habanero-color" name="MANGO HABANERO" isHot={true}></MenuSauceItem>
						<MenuSauceItem class="buffalo-color" name="BUFFALO" isHot={true}></MenuSauceItem>
						<MenuSauceItem class="jalapeño-color" name="JALAPEÑO" isHot={true}></MenuSauceItem>
						<MenuSauceItem class="lemon-pepper-color" name="LEMON PEPPER" isHot={false}></MenuSauceItem>
						<MenuSauceItem class="bbq-color" name="BBQ" isHot={false}></MenuSauceItem>
					</div>
				</section>
				<section class="menu-section">
					<h2>Especialidades</h2>
					<MenuItem 
						itemTitle="Boneless"
						itemDescription='Boneless bañados en una de nuestras salsas'
						itemImage={boneless_img}
						itemImageAlt='Mejores boneless de chihuahua con aderezo ranch'
						itemQtyPrice={[{itemPrice: 140, itemQuantity: '300gr'}, {itemPrice: 180, itemQuantity: '450gr'}]}
						isImageLeft='true'>
					</MenuItem>
				</section>
				<section class="menu-section">
					<h2>Complementos</h2>
					<MenuItem 
						itemTitle="Papas a la francesa"
						itemDescription='Papas a la francesa sazonadas'
						itemImage={fries_img}
						itemImageAlt='Mejores papas a la francesa de chihuahua, sazonadas con paprika, sal, pimienta'
						itemQtyPrice={[{itemPrice: 80, itemQuantity: '200gr'}, {itemPrice: 110, itemQuantity: '350gr'}]}
						isImageLeft='true'>
					</MenuItem>
					<MenuItem 
						itemTitle="Oreos fritos"
						itemDescription='Deliciosos Oreos fritos espolvoreados'
						itemImage={oreos_img}
						itemImageAlt='Oreos fritos'
						itemQtyPrice={[{itemPrice: 10, itemQuantity: '1 pz'}, {itemPrice: 15, itemQuantity: '2 pz'}]}
						isImageLeft='false'>
					</MenuItem>
				</section>
				
			</div>
		</div>
		<div id="social-proof" class="social-proof-container">
			<section class="social-proof-section section-inline-margin">
				<h2>Lo que los clientes dicen de nosotros</h2>
				<div class="review-container">
					<Review 
						userName='Alejandro Rodriguez' 
						userImg={male_reviewer_1_img}
						userReviewOpinion='Los boneless estuvieron deliciosos y el servicio rápido. ¡Muy recomendable para llevar!'
						userReviewRating={5}
						reviewSiteLink='https://www.google.ca/maps/place/Punto+Verde+Caf%C3%A9/@28.6352891,-106.0766849,17z/data=!4m8!3m7!1s0x86ea438e8949809b:0x1f110e25be0dfe89!8m2!3d28.6352891!4d-106.07411!9m1!1b1!16s%2Fg%2F11sqkhmpg1?entry=ttu'
						reviewSiteName='Google Maps'>
					</Review>
					<Review 
						userName='Carlos Martinez' 
						userImg={male_reviewer_2_img}
						userReviewOpinion='Excelente comida para llevar, los complementos estan muy bien surtidos'
						userReviewRating={5}
						reviewSiteLink='https://www.google.ca/maps/place/Punto+Verde+Caf%C3%A9/@28.6352891,-106.0766849,17z/data=!4m8!3m7!1s0x86ea438e8949809b:0x1f110e25be0dfe89!8m2!3d28.6352891!4d-106.07411!9m1!1b1!16s%2Fg%2F11sqkhmpg1?entry=ttu'
						reviewSiteName='Google Maps'>
					</Review>
					<Review 
						userName='Sofia Ramirez' 
						userImg={female_reviewer_1_img}
						userReviewOpinion='Comida deliciosa y servicio rápido, ¡un lugar que debes probar!'
						userReviewRating={5}
						reviewSiteLink='https://www.google.ca/maps/place/Punto+Verde+Caf%C3%A9/@28.6352891,-106.0766849,17z/data=!4m8!3m7!1s0x86ea438e8949809b:0x1f110e25be0dfe89!8m2!3d28.6352891!4d-106.07411!9m1!1b1!16s%2Fg%2F11sqkhmpg1?entry=ttu'
						reviewSiteName='Google Maps'>
					</Review>
				</div>
			</section>
		</div>
		<div id="call-to-action" class="call-to-action-container">
			<svg class="call-to-action-divider-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 1">
				<path d="M 0 0 L 20 1 L 40 0"/>
			</svg>
			<section class="call-to-action-section">
				<h2>Ordena a <strong>Domicilio</strong> ó <strong>Para llevar!</strong></h2>
				<CTA></CTA>
				<footer>
					<p>Los precios en uber eats aumentan de precio.</p>
				</footer>
			</section>
			<svg class="call-to-action-divider-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="-40 -1 40 1">
				<path d="M 0 0 L -20 -1 L -40 0"/>
			</svg>
		</div>
		<div id="location" class="location-container">
			<section class="location-section">
				<section class="location">
					<h2>Ubicación</h2>
					<div>
						<Image
						src={boneless_crave_location_img}
						class="img-transition"
						data-visible="false"
						decoding="async"
						loading="lazy"
						alt="Foto de la vista por enfrente del negocio Boneless Crave.">
						</Image>
						<div class="location-description">
							<section>
								<header>
									<h3>Dirección </h3>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
										<path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0"/>
									</svg>
								</header>
								<address>Boneless Crave, Calle Ignacio Allende, Zona Centro, Chihuahua</address>
							</section>
							<section>
								<header>
									<h3>Telefono</h3>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
										<path d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z" stroke-width="0"/>
									</svg>
								</header>
								<p>614-445-677</p>
							</section>
							<section>
								<header>
									<h3>Horario</h3>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
										<path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-5 2.66a1 1 0 0 0 -.993 .883l-.007 .117v5l.009 .131a1 1 0 0 0 .197 .477l.087 .1l3 3l.094 .082a1 1 0 0 0 1.226 0l.094 -.083l.083 -.094a1 1 0 0 0 0 -1.226l-.083 -.094l-2.707 -2.708v-4.585l-.007 -.117a1 1 0 0 0 -.993 -.883z" stroke-width="0" />
									</svg>
								</header>
								<p class="days">Martes a Sabado</p>
								<p>12:30pm a 20:00pm</p>
								<p class="days">Domingo</p>
								<p>13:00pm a 19:00pm</p>
							</section>
						</div>
					</div>
				</section>
				<section class="map">
					<iframe class="google-maps-iframe" title="Boneless Crave business google maps location" style="border:0" loading="lazy" allowfullscreen 
					src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Punto%20Verde,%20Calle%20Ignacio%20Allende,%20Zona%20Centro,%20Chihuahua+(Ubicacion%20de%20Boneless%20Crave)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
					</iframe>
				</section>
			</section>
			</section>
		</div>
		
	</main>
</Layout>

<script src="../lib/aboutUs-animation.ts"></script>
<script src="../lib/images-smooth-loading.ts"></script>

<style >
	main {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0;
		color: var(--text-color);
		font-size: 20px;
		line-height: 1.6;
		width: 100%;
	}


	/* Hero */
	.hero-container {
		width: min(1300px, (100% - 1rem));
		min-height: calc(100vh - var(--nav-height));
	
		position: relative;
	
		padding-bottom: var(--section-full-spacing);
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.hero-section {
		display: grid;
		align-items: center;
		justify-items: center;
		gap: 3rem;	
	}
	.headline-container {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		text-wrap: balance;
	}
	.headline {
		font-family: 'Laila';
		font-weight: 600;
		font-size: var(--font-size-headline);
		line-height: 1.2;
		color: var(--text-color);

		margin-bottom: var(--section-grid-spacing);
	}
	.headline-highlight {
		font-family: 'Laila';
		font-weight: var(--font-weight-large);
		color: var(--primary-color-500);
	}
	.sub-headline {
		font-size: var(--font-size-large);
		font-weight: var(--font-weight-small);
		color: var(--text-color);

		margin-bottom: 32px;
	}
	.hero-gallery-container {
		--border-roundness: 30px;
		--border-offset: 50px;
		width: 100%;
		aspect-ratio: 4/3;
		position: relative;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 8px;	
	}
	.hero-gallery-container::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0 0 0 0;
		transform: translate(calc(var(--border-offset) / 2), calc(var(--border-offset) / 2 * -1));

		border-top: 2px solid var(--primary-color-500);
		border-right: 2px solid var(--primary-color-500);
		border-top-right-radius: 40px;
	}	
	.hero-gallery-container::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0 0 0 0;
		transform: translate(calc(var(--border-offset) / 2 * -1), calc(var(--border-offset) / 2 ));

		border-left: 2px solid var(--primary-color-500);
		border-bottom: 2px solid var(--primary-color-500);
		border-bottom-left-radius: 40px;
	}	
	.hero-gallery-container img {
		display: block;
		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: center;
	}
	.hero-gallery-container img:first-child {
		border-top-left-radius: var(--border-roundness);
		border-bottom-left-radius: var(--border-roundness);
	}
	.hero-gallery-container img:last-child {
		border-top-right-radius: var(--border-roundness);
		border-bottom-right-radius: var(--border-roundness);
	}

	.hero-menu-cta {
		display: inline;

		position: absolute;
		bottom: var(--section-full-spacing);
		left: 50%;
		transform: translate(-50%, -50%);		

		border: 2px solid var(--primary-color-500);
		border-radius: 999px;

		padding-block: var(--spacing-200);
		
		box-sizing: border-box;
		min-width: 200px;

		text-align: center;
	}

	@media (max-width: 992px) {
		.hero-container {
			height: auto;
			padding-top: var(--nav-height);
			padding-bottom: var(--section-full-spacing);
			
		}
		.hero-section {
			gap: 5rem;
		}
		.headline-container {
			align-items: center;
			font-size: 12px;
		}
		.hero-gallery-container {
			width: 90%;
			--border-offset: 30px;
		}
		.hero-menu-cta {
			bottom: 0px;
		}
	}

	/* About us */
	.aboutUs-container {
		padding-block: var(--section-full-spacing);
	
		width: 100%;

		display: flex;
		justify-content: center;
	}
	.aboutUs-section {
		width: min(1300px, 100% - 1rem);

		border-top: 2px solid var(--priamry-color-500);

		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: var(--section-elements-spacing);
	}
	.aboutUs-header {
		text-align: center;
	}
	.aboutUs-header h2 {
		font-family: 'Laila';
		font-size: var(--font-size-headline);
		font-weight: var(--font-weight-medium);
		line-height: 1;
		letter-spacing: calc(-.01 * var(--font-size-headline));
	
		margin-bottom: var(--section-grid-spacing);
	}
	.aboutUs-header .hightlight {
		color: var(--primary-color-500)
	}
	.aboutUs-header p {
		text-wrap: balance;
		line-height: calc(1.7 * var(--font-size-small));
		font-size: var(--font-size-medium);
		font-weight: var(--font-weight-small);
	}
	.gallery-container {
		display: flex;
		flex-direction: column;
		gap: var(--section-grid-spacing);

		width: calc(100% - 1rem);
	}



	/* Menú */
	.menu-container {
		padding-block: var(--section-full-spacing);
		width: 100%;

		background-color: var(--background-color-600);
		border-top-left-radius: 50% 2rem;
		border-top-right-radius: 50% 2rem;
		border-bottom-left-radius: 50% 2rem;
		border-bottom-right-radius: 50% 2rem;

		display: flex;
		flex-direction: column;
		align-items: center;

		position: relative;
	}
	.menu-container .menu-title {
		font-size: var(--font-size-headline);
		font-weight: var(--font-weight-large);

		background-color: var(--primary-color-500);
		color: var(--text-contrast-color);

		padding-inline: var(--spacing-700);
		padding-block: var(--spacing-300);

		margin-bottom: var(--section-half-spacing);
		display: inline;

		border-radius: 25px;

	}
	.menu-section-container {
		width: 100%;
		
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.menu-section {
		width: min(1300px,(100% - 1rem));
		padding-block: var(--section-elements-spacing);

		border-top: 2px solid var(--text-color);

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--section-elements-spacing);
	}
	.menu-section:last-child {
		padding-top: var(--section-elements-spacing);
		padding-bottom: 0;
	}
	.menu-section h2 {
		color: var(--text-color);

		font-size: var(--font-size-x-x-large);
		line-height: 1;
		text-align: center;
	}
	.menu-section .item {
		display: flex;
		align-items: center;
		gap: 32px;

		padding-inline: var(--spacing-700);

		color: var(--text-color);
	}
	.menu-section .item > * {
		flex: 1;
	}
	.sauces-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 16px;
	} 


	/* Social proof  */
	.social-proof-container {
		padding-block: var(--section-full-spacing);
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.social-proof-section h2{
		text-align: center;

		width: min(1300px, 100% - 1rem);

		font-size: var(--font-size-x-x-large);
		font-weight: var(--font-weight-large);

		margin-bottom: var(--section-elements-spacing);
	}
	.review-container {
		display: flex;
		align-items: center;
		gap: var(--section-grid-spacing);
	}
	@media(max-width: 992px) {
		.review-container {
			flex-direction: column;
			align-content: center;
			flex-wrap: wrap;

			margin-inline: var(--spacing-200);
		}
	}
	


	/* Call to action */
	.call-to-action-container {
		width: 100%;

		display: flex;
		justify-content: center;

		position: relative;

		padding-block: var(--section-full-spacing);
		background-color: var(--background-color-600);

		color: var(--text-color);
	}
	.call-to-action-divider-top path, .call-to-action-divider-bottom path{
		fill: var(--background-color-500)
	}
	.call-to-action-divider-top {
		position: absolute;
		top: -1px;
	}
	.call-to-action-divider-bottom {
		position: absolute;
		bottom: -1px;
	}
	.call-to-action-section {
		width: min(1300px, 100% - 2rem);

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--section-elements-spacing);
	}
	.call-to-action-section h2 {
		font-size: var(--font-size-x-x-large);
		font-weight: var(--font-weight-large);
		line-height: 1;

		text-wrap: balance;
	}
	.call-to-action-section h2 strong{
		color: var(--primary-color-500);
	}
	
	.call-to-action-section footer {
		text-wrap: balance;
	}
	


	/* Location */
	.location-container {
		width: 100%;
		
		padding-block: var(--section-full-spacing);

		display: flex;
		justify-content: center;
	}
	.location-section {
		width: min(1300px, 100% - 2rem);

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.location-section h2 {
		text-align: center;

		font-size: var(--font-size-x-x-large);
		font-weight: var(--font-weight-large);
	}
	.location-section .location {
		width: 100%;
		margin-bottom: var(--)
	}
	.location-section .location div{
		display: flex;
		justify-content: space-between;

		margin-top: var(--section-elements-spacing);
		margin-bottom: 56px;
	}
	.location-section .location img {
		width: 45%;
		height: auto;
		aspect-ratio: 1/1;

		border-top-left-radius: 30%;
		border-top-right-radius: 16px;
		border-bottom-right-radius: 30%;
		border-bottom-left-radius: 16px;
	}
	.location-section .location .location-description {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: var(--spacing-400);
	}
	.location-section .location .location-description section header {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	.location-section .location .location-description section header svg{
		width: var(--font-size-large);
		height: var(--font-size-large);

		fill: var(--primary-color-500);
	}
	.location-section .location .location-description h3 {
		font-size: var(--font-size-large);
	}
	.location-section .location .location-description address {
		text-wrap: balance;
	}
	.location-section .location .location-description .days {
		font-size: var(--font-size-medium);
		font-weight: var(--font-weight-medium);
	}
	.location-section .map {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.location-section .map img {
		width: 70%;
		height: auto;
		aspect-ratio: auto 708 / 464;

		margin-block: var(--section-elements-spacing);
		align-self: center;
	}
	.location-section .map .google-maps-iframe {
		width: 100%;
		height: auto;
		aspect-ratio: 2/1;


		align-self: center;
	}
	@media (max-width: 992px) {
		.location-section .location div{
			flex-direction: column;
			align-items: center;
		}
		.location-section .location div > *{
			width: 100%;
		}

		.location-section .map .google-maps-iframe{
			aspect-ratio: 1/1;
		}
		.location-section .location .location-description section header {
			justify-content: center;
		}
	}


	




	
	
</style>
