---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import GalleryRow from '../components/gallery-row.astro';

import MenuComboItem from '../components/menu-combo-item.astro';
import MenuItem from '../components/menu-item.astro';
import MenuSauceItem from '../components/menu-sauce-item.astro'; 

import Location from '../assets/Location.png'
import MapImg from '../assets/Screenshot de mapa.png'

import hero_img from '../assets/testImages/tasty-boneless-chicken-sauce.png';
import boneless_img from '../assets/testImages/quality-boneless-ranch.jpg'
import combo_1_img from '../assets/testImages/combo-1.png'

import fries_img from '../assets/AboutUs/fries.webp'
import oreos_img from '../assets/AboutUs/fried-oreos.png'
import bbq_boneless_img from '../assets/AboutUs/bbq-boneless.png'

---

<Layout title="Boneless Crave">
	<main>
		<div class="hero-container">
			<section class="hero-section">
				<div class="headline-container">
					<h1 class="headline">Tu <span class="headline-highlight">antojo</span>, <br>nuestra <span class="headline-highlight">pasión</span></h1>
					<p class="sub-headline">Saboréa las Combinaciones Perfectas</p>
					<div class="hero-call-to-action">
						<a class="hero-order-call-to-action" href="#call-to-action">
							Ordenar
						</a>
					</div>
				</div>
				<div class="hero-image-container-border">
					<div class="hero-image-container">
						<Image src={hero_img} alt="Mejores boneless de chihuahua CUU" loading="lazy"></Image>
					</div>
				</div>	
			</section>
			<a href="#menu" class="hero-menu-cta">Explorar Menú</a>
		</div>	
		<div id="aboutUs" class="aboutUs-container">
			<section class="aboutUs-section">
				<div class="aboutUs">
					<h2><strong class="hightlight">Boneless</strong> Crave</h2>
					<p>
						Creamos sabores auténticos acompañados de complementos excepcionales que hacen la diferencia.
					</p>
				</div>
				<div class="gallery-container">
					<GalleryRow 
						processStepOneImg={fries_img} processStepOneAlt='Pending'
						processStepTwoImg={oreos_img} processStepTwoAlt='Pending'
						finalProductImg={bbq_boneless_img} finalProductAlt='Pending'>
					</GalleryRow>
				</div>
			</section>
			
		</div>
		<div id="menu" class="menu-container waves">
			<h2 class="menu-title">Menú</h2>
			<div class="menu-section-container">
				<section class="menu-section">
					<h2>Combos</h2>
					<MenuComboItem 
						comboItemTitle="Combo #1"
						comboItemDescription='Boneless, papas fritas y oreos fritos (Estimado: 1 persona)'
						comboItemImage={combo_1_img}
						comboItemImageAlt='Combo de boneless, papas fritas y oreos fritas'
						itemQtyName={[{itemName: "Boneless", itemQuantity: '300gr'}, {itemName: "Papas fritas", itemQuantity: '350gr'}, {itemName: "Oreos fritas", itemQuantity: '2 pz'}]}
						comboItemPrice= {140}
						isImageLeft='true'>
					</MenuComboItem>
					<MenuComboItem 
						comboItemTitle="Combo #2"
						comboItemDescription='Boneless, papas fritas y oreos fritos (Estimado: 2 personas)'
						comboItemImage={combo_1_img}
						comboItemImageAlt='Combo de boneless, papas fritas y oreos fritas'
						itemQtyName={[{itemName: "Boneless (2 salsas)", itemQuantity: '500gr'}, {itemName: "Papas fritas", itemQuantity: '500gr'}, {itemName: "Oreos fritas", itemQuantity: '4 pz'}]}
						comboItemPrice= {140}
						isImageLeft='false'>
					</MenuComboItem>
				</section>
				<section class="menu-section">
					<h2>Salsas</h2>
					<div class="sauces-container">
						<MenuSauceItem class="bbq-color" name="BBQ" isHot={false}></MenuSauceItem>
						<MenuSauceItem class="lemon-pepper-color" name="Lemon Pepper" isHot={false}></MenuSauceItem>
						<MenuSauceItem class="jalapeño-color" name="Jalapeño" isHot={true}></MenuSauceItem>
						<MenuSauceItem class="buffalo-color" name="Buffalo" isHot={true}></MenuSauceItem>
						<MenuSauceItem class="mango-habanero-color" name="Mango Habanero" isHot={true}></MenuSauceItem>
					</div>
				</section>
				<section class="menu-section">
					<h2>Especialidades</h2>
					<MenuItem 
						itemTitle="Boneless"
						itemDescription='Boneless bañados en una de nuestras salsas'
						itemImage={boneless_img}
						itemImageAlt='Mejores boneless de chihuahua con aderezo ranch'
						itemQtyPrice={[{itemPrice: 140, itemQuantity: '300gr'}, {itemPrice: 180, itemQuantity: '450gr'}]}
						isImageLeft='true'>
					</MenuItem>
				</section>
				<section class="menu-section">
					<h2>Complementos</h2>
					<MenuItem 
						itemTitle="Papas a la francesa"
						itemDescription='Papas a la francesa sazonadas'
						itemImage={fries_img}
						itemImageAlt='Mejores papas a la francesa de chihuahua, sazonadas con paprika, sal, pimienta'
						itemQtyPrice={[{itemPrice: 80, itemQuantity: '200gr'}, {itemPrice: 110, itemQuantity: '350gr'}]}
						isImageLeft='true'>
					</MenuItem>
					<MenuItem 
						itemTitle="Oreos fritos"
						itemDescription='Deliciosos Oreos fritos espolvoreados'
						itemImage={oreos_img}
						itemImageAlt='Oreos fritos'
						itemQtyPrice={[{itemPrice: 10, itemQuantity: '1 pz'}, {itemPrice: 15, itemQuantity: '2 pz'}]}
						isImageLeft='false'>
					</MenuItem>
				</section>
			</div>
		</div>
		<div id="social-proof" class="social-proof-container">
			<seciton class="social-proof-section">
				<h2>Lo que los clientes dicen de nosotros</h2>
			</seciton>
		</div>
		<div id="call-to-action" class="call-to-action-container">
			<section class="call-to-action-section">
				<h2>Ordena a <strong>Domicilio</strong> ó <strong>Para llevar!</strong></h2>
				<div class="anchors-container">
					<a href="#" class="delivery"><span>Uber</span> Eats</a>
					<a href="#" class="toGo">WhatsApp</a>
				</div>
				<footer>
					<p>Los precios en uber eats aumentan de precio.</p>
				</footer>
			</section>
		</div>
		<div id="location" class="location-container">
			<section class="location-section">
				<section class="location">
					<h2>Ubicación</h2>
					<div>
						<Image
						src={Location}
						decoding="async"
						loading="lazy"
						alt="Foto de la vista por enfrente del negocio Boneless Crave.">
						</Image>
						<div class="location-description">
							<section>
								<h3>Dirección</h3>
								<address>Boneless Crave, Calle Ignacio Allende, Zona Centro, Chihuahua <br>
										614-555-6677
								</address>
							</section>
							<section>
								<h3>Horario</h3>
								<p class="days">Martes a Sabado</p>
								<p>12:30pm a 20:00pm</p>
								<p class="days">Domingo</p>
								<p>13:00pm a 19:00pm</p>
							</section>
						</div>
					</div>
				</section>
				<section class="map">
					<h2>Mapa</h2>
					<Image src={MapImg} alt="Screenshot del mapa proporcionado por google maps del negocio boneless crave"></Image>
						{/* aspect ratio = 177/116
					1.-Google docs example for api call for embed maps, the page generates the html code itself, https://developers.google.com/maps/documentation/embed/get-started
					2.-I have to create new project on the google cloud console, will wait until the boneless location is set up in google maps to continue as they ask for location
					of business, don't want to use the punto verde cafe location, want to have a different page for the boneless business
					
					<iframe
						width="100%"
						aspect-ratio="x/y"
						style="border:0"
						loading="lazy"
						allowfullscreen
						referrerpolicy="no-referrer-when-downgrade"
						src="https://www.google.com/maps/embed/v1/place?key=API_KEY
							&q=Space+Needle,Seattle+WA">
					</iframe>*/}
				</section>
			</section>
				
				
			

				
				

				
				
			</section>
		</div>
		
	</main>
</Layout>

<script src="../lib/aboutUs-animation.ts"></script>
<script>

	
	
			
	
	/*---Hero img load-------Move to file later--------
	1- the loaded class adds opasity 1, it initially is set to 0
	const LOADED_CLASS = "loaded"

	const imgContainer = document.querySelector('.hero-image-container')
	const img = imgContainer?.querySelector('img')

	function loaded() {
		imgContainer?.classList.add(LOADED_CLASS)
	}

	if (img?.complete) {
		loaded()
	}
	else {
		img?.addEventListener('load', loaded)
	}*/

	
</script>
<style >
	/* Social proof  */
	.social-proof-container {
		padding-block: var(--section-padding-large);
		width: 100%;
	}
	.social-proof-section h2{
		text-align: center;

		font-size: var(--font-size-x-large);
		font-weight: var(--font-weight-large);
	}


	
	
	
  



	main {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0;
		color: var(--text-color);
		font-size: 20px;
		line-height: 1.6;
		width: 100%;
	}



	/* Hero */
	.hero-container {
		width: min(1300px, (100% - 1rem));
		height: max((100vh - var(--nav-height) - var(--section-padding-large)), 530px);
	
		position: relative;

		padding-top: var(--section-padding-large);
	}
	.hero-menu-cta {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%, -50%);		

		border: 2px solid var(--primary-color-500);
		border-radius: 999px;

		padding-inline: var(--spacing-300);
		padding-block: var(--spacing-200);

	}
	.hero-section {
		display: grid;
		align-items: center;
		justify-items: center;
		gap: 3rem;	
	}
	@media (max-width: 992px) {
		.hero-container {
			height: auto;
			margin-top: var(--section-margin-medium);
			padding-bottom: var(--section-padding-large);
		}
		.hero-section {
			gap: 5rem;
		}
	}	
	.headline-container {
		flex: 1;
		text-wrap: balance;
	}
	.headline {
		font-family: 'Laila';
		font-weight: 600;
		font-size: var(--font-size-headline);
		margin-top: 0px;
		margin-bottom: 1rem;
		line-height: 70px;
		color: var(--text-color);
	}
	.headline-highlight {
		font-family: 'Laila';
		font-weight: var(--font-weight-large);
		color: var(--primary-color-500);
	}
	.sub-headline {
		font-size: 2rem;
		font-weight: 600;
		margin: 0px;
		color: var(--text-color);
	}
	.hero-call-to-action {
		margin-top: var(--spacing-500);
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 1rem;
	}
	@media (max-width: 992px) {
		.hero-call-to-action {
		justify-content: center;
		}
	}
	.hero-call-to-action > a {
		width: fit-content;
	}
	.hero-order-call-to-action {
		padding-block: var(--spacing-300);
		padding-inline: var(--spacing-700);
		background-color: var(--primary-color-500);
		border-radius: 999px;
		border: 3px solid var(--primary-color-500);
		color: var(--text-contrast-color);
		font-weight: var(--font-weight-large);
		font-size: var(--font-size-large);
	}
	.hero-image-container-border {
		width: 90%;
		max-width: 500px;
		aspect-ratio: 1 / 1;
		position: relative;
	}
	.hero-image-container {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		max-width: 450px;
		aspect-ratio: 1 / 1;
		border-radius: 9999px;
		overflow: hidden;
		background-size: cover;
		background-position: center;
	}
	.hero-image-container img {
		display: block;
		width: 100%;
		height: -webkit-fill-available;
		aspect-ratio: 1 / 1.5;
		object-fit: cover;
		object-position: center;
		transition: opacity 250ms ease-in-out;
	}


	/* About us */
	.aboutUs-container {
		padding-block: var(--section-padding-large);
	
		width: 100%;

		display: flex;
		justify-content: center;

	}
	.aboutUs-section {

		width: min(1300px, 100% - 1rem);

		border-top: 2px solid var(--priamry-color-500);

		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: var(--spacing-500);
	}
	.aboutUs {
		text-align: center;
	}
	.aboutUs h2 {
		font-family: 'Laila';
		font-size: var(--font-size-headline);
		font-weight: var(--font-weight-medium);
		line-height: 1;
		letter-spacing: calc(-.01 * var(--font-size-headline));
	}
	.aboutUs .hightlight {
		color: var(--primary-color-500)
	}
	.aboutUs p {
		text-wrap: balance;
		line-height: calc(1.7 * var(--font-size-small));
		font-size: var(--font-size-medium);
		font-weight: var(--font-weight-small);
	}
	.gallery-container {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-500);

		width: calc(100% - 1rem);

		margin-top: var(--section-margin-medium);
	}
	@media (max-width: 992px) {
		.gallery-container {
			gap: var(--spacing-700);
		}
	}


	/* Menú */
	.menu-container {
		padding-block: var(--section-padding-large);
		width: 100%;

		background-color: var(--background-color-600);

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.menu-container .menu-title {
		font-size: var(--font-size-headline);
		font-weight: var(--font-weight-large);

		background-color: var(--primary-color-500);
		color: var(--text-contrast-color);

		padding-inline: var(--spacing-700);
		padding-block: var(--spacing-300);

		margin-bottom: var(--section-margin-small);
		display: inline;

		border-radius: 25px;

	}
	.menu-section-container {
		width: 100%;
		
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.waves {
		--wave-color: var(--background-color-500);
		--wave-height: 20px;
		--wave-width: calc(var(--wave-height) * 8);

		position: relative;
	}
	.waves::before, .waves::after {
		content: '';
		position: absolute;
		left: 0;
		height: var(--wave-height);
		background: var(--wave-color);
		-webkit-mask-image: url('../assets/Waves/waves.svg');
		-webkit-mask-size: var(--wave-width) var(--wave-height);
		mask-image: url('../assets/Waves/waves.svg');

		width: 100%;
	}

	.waves::before {
		top: 0;
	}
	.waves::after { 
		bottom: 0;
		transform: rotate(.5turn);
	}
	.menu-section {
		width: min(1300px,(100% - 1rem));
		padding-block: var(--section-padding-small);

		border-top: 2px solid var(--background-color-400);
	}
	.menu-section h2 {
		color: var(--text-color);

		font-size: var(--font-size-x-large);
		line-height: 1;
		text-align: center;

		margin-bottom: var(--section-margin-small);
	}
	.menu-section .item {
		display: flex;
		align-items: center;
		gap: 32px;

		padding-inline: var(--spacing-700);

		color: var(--text-color);
	}
	.menu-section .item > * {
		flex: 1;
	}
	.sauces-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 16px;
	} 


	

	
/* Location */
.location-container {
		width: 100%;
		
		padding-block: var(--section-padding-large);

		display: flex;
		justify-content: center;
	}
	.location-section {
		width: min(1300px, 100% - 2rem);

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.location-section h2 {
		text-align: center;

		font-size: var(--font-size-x-large);
		font-weight: var(--font-weight-large);
	}
	.location-section .location {
		width: 100%;
	}
	.location-section .location div{
		display: flex;
		justify-content: space-between;

		margin-block: var(--section-margin-small);
	}
	.location-section .location img {
		width: 45%;
		height: auto;
		aspect-ratio: 1/1;

		border-top-left-radius: 30%;
		border-top-right-radius: 16px;
		border-bottom-right-radius: 30%;
		border-bottom-left-radius: 16px;

	
	}
	.location-section .location .location-description {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: var(--spacing-400);
	}
	.location-section .location .location-description h3 {
		font-size: var(--font-size-large);
	}
	.location-section .location .location-description address {
		text-wrap: balance;
	}
	.location-section .location .location-description .days {
		font-size: var(--font-size-medium);
		font-weight: var(--font-weight-medium);
	}
	.location-section .map {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.location-section .map img {
		width: 70%;
		height: auto;
		aspect-ratio: auto 708 / 464;

		margin-block: var(--section-margin-small);
		align-self: center;
	}

	@media (max-width: 992px) {
		.location-section .location div{
			flex-direction: column;
			align-items: center;
		}
		.location-section .location div > *{
			width: 100%;
		}

		.location-section .map img {
			width: 90%;
		}
	}


	
	/* Call to action */
	.call-to-action-container {
		width: 100%;

		display: flex;
		justify-content: center;

		padding-block: var(--section-padding-large);
		background-color: var(--background-color-600);

		color: var(--text-color);
	}
	.call-to-action-section {
		width: min(1300px, 100% - 2rem);

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.call-to-action-section h2 {
		font-size: var(--font-size-x-large);
		font-weight: var(--font-weight-large);
		line-height: 1;

		text-wrap: balance;
	}
	.call-to-action-section h2 strong{
		color: var(--primary-color-500);
	}
	.call-to-action-section .anchors-container {
		margin-block: var(--spacing-700);
	}
	.call-to-action-section a {
		padding-inline: var(--spacing-600) ;
		padding-block: var(--spacing-300);

		background-color: var(--primary-color-500);
		color: var(--text-contrast-color);

		font-weight: var(--font-weight-large);
	
	}
	.call-to-action-section .delivery {
		border-top-left-radius: 24px;
	}
	.call-to-action-section .delivery:hover {
		background-color: var(--uberEats-background-color);
		color: var(--uberEats-color);
	}
	.call-to-action-section .delivery:hover span{
		color: white;
	}
	.call-to-action-section .toGo {
		border-bottom-right-radius: 24px;
		border-left: 1px solid black;
	}
	.call-to-action-section .toGo:hover {
		background-color: var(--whatsApp-background-color);
		color: var(--whatsApp-color);
	}
	.call-to-action-section footer {
		text-wrap: balance;
	}



	
	
</style>
