---
import { Image } from 'astro:assets';

interface Props {
    processStepOneImg: ImageMetadata
    processStepOneAlt: string
    processStepTwoImg: ImageMetadata
    processStepTwoAlt: string
    finalProductImg: ImageMetadata
    finalProductAlt: string

}  

const { processStepOneImg, processStepOneAlt, processStepTwoImg,processStepTwoAlt, finalProductImg, finalProductAlt } = Astro.props
---


<div class="gallery">
    <div class="process-row">
        <Image class="process-img" src={processStepOneImg} alt={processStepOneAlt}></Image>
        <Image class="process-img"src={processStepTwoImg} alt={processStepTwoAlt}></Image>
    </div>
    
    <Image class="final-product-img" src={finalProductImg} alt={finalProductAlt}></Image>
</div>


    


<style>
    .gallery {
        --border-width: 3px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-300);
    }

    @media(max-width: 992px) {
        .gallery {
            flex-direction: column;
            align-items: center;
        }
    }
    .process-row {
        display: flex;
        justify-content: center;
        gap: var(--spacing-300);
    }
    .process-img {
        border: var(--border-width) solid white;

        width: calc(45% - (var(--spacing-300))/2);
        height: auto;
    }
    .final-product-img {
        border: var(--border-width) solid var(--primary-color-500);

        width: calc(90% + (var(--border-width)*2));
        height: auto;
    }
    @media(max-width: 992px) {
        .process-row {
            flex-direction: column;
            align-items: center;
        }
        .process-img, .final-product-img {
            width: 95%;
        }

    }

</style>