---
import { Image } from 'astro:assets';

interface Props {
    processStepOneImg: ImageMetadata
    processStepOneAlt: string
    processStepTwoImg: ImageMetadata
    processStepTwoAlt: string
    finalProductImg: ImageMetadata
    finalProductAlt: string

}  

const { processStepOneImg, processStepOneAlt, processStepTwoImg,processStepTwoAlt, finalProductImg, finalProductAlt } = Astro.props
---


<div class="gallery">
    <div class="image-container">
        <Image data-visible="false" class="process-img" src={processStepOneImg} alt={processStepOneAlt}></Image>
    </div>
    <div class="image-container second-level">
        <Image data-visible="false" class="process-img"src={processStepTwoImg} alt={processStepTwoAlt}></Image>
    </div>
    <div class="image-container third-level">
        <Image data-visible="false" class="final-product-img" src={finalProductImg} alt={finalProductAlt}></Image>
    </div> 
</div>


    


<style>
    .gallery {
        --border-width: 3px;

        display: flex;
        justify-content: center;
        gap: var(--spacing-500);
    }
    .gallery .image-container {
        width: calc(33% - (var(--spacing-500))/2);
    }
    .second-level {
        margin-top: 100px;
    }
    .third-level {
        margin-top: 200px;
    }
    .gallery .image-container img {
        width: 100%;
        aspect-ratio: 3/2;
        height: auto;
        object-fit: cover;
        object-position: center;

        transition: transform 800ms, opacity 800ms;
    }
    .gallery .image-container img[data-visible='false'] {
        transform: translateY(200px);
        opacity: 0;
    }
    .gallery .image-container img[data-visible='true'] {
        transform: translateY(0px);
        opacity: 1;
    }
    .process-img {
        border: var(--border-width) solid white;
    }
    .final-product-img {
        border: var(--border-width) solid var(--primary-color-500);
    }
    

    @media(max-width: 992px) {
        .gallery {
            flex-direction: column;
            align-items: center;
        }
        .gallery .image-container {
            width: 95%;
        }
        .second-level, .third-level {
            margin-top: 0;
        }
    }

</style>