---
import { Image } from 'astro:assets';

interface Props {
    imgOne: ImageMetadata
    imgTwo: ImageMetadata
    imgThree: ImageMetadata
    imgOneAlt: string
    imgTwoAlt: string
    imgThreeAlt: string


}  

const { imgOne, imgTwo, imgThree, imgOneAlt, imgTwoAlt, imgThreeAlt } = Astro.props
---


<div class="gallery">
    <div class="image-container">
        <Image data-visible="false" src={imgOne} alt={imgOneAlt}></Image>
    </div>
    <div class="image-container second-level">
        <Image data-visible="false" src={imgTwo} alt={imgTwoAlt}></Image>
    </div>
    <div class="image-container third-level">
        <Image data-visible="false" src={imgThree} alt={imgThreeAlt}></Image>
    </div> 
</div>


    


<style>
    .gallery {
        --border-width: 3px;

        display: flex;
        justify-content: center;
        gap: var(--section-grid-spacing);
    }
    .gallery .image-container {
        width: calc(33% - ((var(--section-grid-spacing))/2));
    }
    .second-level {
        margin-top: 100px;
    }
    .third-level {
        margin-top: 200px;
    }
    .gallery .image-container img {
        width: calc(100% - 6px);
        aspect-ratio: 3/2;
        height: auto;
        object-fit: cover;
        object-position: center;

        transition: transform 800ms, opacity 800ms;
    }
    .gallery .image-container img[data-visible='false'] {
        opacity: 0;
    }
    .gallery .image-container img[data-visible='true'] {
        opacity: 1;
    }

    @media(max-width: 992px) {
        .gallery {
            flex-direction: column;
            align-items: center;
        }
        .gallery .image-container {
            width: 95%;
        }
        .second-level, .third-level {
            margin-top: 0;
        }
    }

</style>