---
import { Image } from 'astro:assets';

export type ItemQtyName= {
    itemName: string
    itemQuantity: string
}

interface Props {
    comboItemTitle: string
    comboItemDescription: string
    itemQtyName: ItemQtyName[]
    comboItemPrice: number
    comboItemImage: ImageMetadata
    comboItemImageAlt: string
    isImageLeft: string
}

const { comboItemTitle, comboItemDescription, itemQtyName, comboItemPrice, comboItemImage, comboItemImageAlt, isImageLeft } = Astro.props;
---

<div class="item" data-imageLeft={isImageLeft}>
    <Image src={comboItemImage} alt={comboItemImageAlt}></Image>
    <section class="item-info">
        <h3>{comboItemTitle}</h3>
        <p>{comboItemDescription}</p>
        {
            itemQtyName.map((item) => 
                <p class="quantity-name">{item.itemName} - {item.itemQuantity}</p>
            )
        }
        <p class="price">${comboItemPrice}</p>
    </section>
</div>

<style>
    .item {
		display: flex;
        justify-content: center;
		align-items: center;
		gap: var(--spacing-600);

		padding-inline: var(--spacing-700);
        margin-bottom: var(--section-margin-small);

		color: var(--text-color);
	}
    .item[data-imageLeft = 'false'] {
        flex-direction: row-reverse;
    }
    .item img {
		width: 30%;
		height: auto;
		aspect-ratio: 1/1;
		object-fit: cover;
		object-position: center;

		border-radius: 36px;
		box-shadow: 2px 2px 1px black;
	}

    .item .item-info {
        width: 45%;  
	}
    .item[data-imageLeft = 'true'] .item-info {
        text-align: end;
    }
    .item[data-imageLeft = 'false'] .item-info {
        text-align: start;
    }
	.item .item-info h3 {
		border-bottom: 1px solid var(--primary-color-500);

		font-size: var(--font-size-subheadline);
	}
	.item .item-info .quantity-name{
		font-weight: var(--font-weight-medium);
		font-size: var(--font-size-large);
	}
    .item .item-info .price {
        padding-inline: 12px;

        border-radius: 999px;
        outline: 2px solid var(--text-color);
        
        background-color: var(--background-color-900);

        font-weight: var(--font-weight-medium);
		font-size: var(--font-size-large);
        color: var(--primary-color-500);

        display: inline;
    }
    @media (max-width: 992px) {
        .item {
            flex-direction: column;
            gap: var(--spacing-100);
        }
        .item[data-imageLeft = 'false'] {
        flex-direction: column;
        }
        .item[data-imageLeft = 'true'] .item-info, .item[data-imageLeft = 'false'] .item-info{
        text-align: center;
        }
        .item img {
            width: 90%;
        } 
        .item .item-info {
            width: 80%;
        }

    }

</style>