---
import { Image } from 'astro:assets';

export type ItemQtyPrices= {
    itemPrice: number
    itemQuantity: string
}

interface Props {
    itemTitle: string
    itemDescription: string
    itemQtyPrice: ItemQtyPrices[]
    itemImage: ImageMetadata
    itemImageAlt: string
    isImageLeft: string
}

const { itemTitle, itemDescription, itemQtyPrice, itemImage, itemImageAlt, isImageLeft } = Astro.props;
---

<div class="item" data-imageLeft={isImageLeft}>
    <Image src={itemImage} class="img-transition" data-visible="false" alt={itemImageAlt}></Image>
    <section class="item-info">
        <hgroup>
            <h3>{itemTitle}</h3>
            <p>{itemDescription}</p>
        </hgroup>
        <div class="quantities-container">
            {
                itemQtyPrice.map((item) => 
                    <p class="quantity-price">{item.itemQuantity} - <span class="price">${item.itemPrice}</span></p>
                )
            }
        </div>
        
    </section>
</div>

<style>
    .item {
		display: flex;
        justify-content: center;
		align-items: center;
		gap: var(--spacing-600);

        width: 100%;
		color: var(--text-color);
	}
    .item[data-imageLeft = 'false'] {
        flex-direction: row-reverse;
    }
    .item img {
		width: 30%;
		height: auto;
		aspect-ratio: 1/1;
		object-fit: cover;
		object-position: center;

		border-radius: 36px;
		box-shadow: 2px 2px 1px black;
	}

    .item .item-info {
        width: 45%; 

        display: flex;
        flex-direction: column;
        gap: 16px;
	}
    .item[data-imageLeft = 'true'] .item-info {
        text-align: end;
    }
    .item[data-imageLeft = 'false'] .item-info {
        text-align: start;
    }
	.item .item-info h3 {
		border-bottom: 1px solid var(--primary-color-500);

		font-size: var(--font-size-x-large);
	}
	.item .item-info .quantity-price{
		font-weight: var(--font-weight-medium);
		font-size: var(--font-size-large);
	}
    .item .item-info .quantity-price .price {
        padding-inline: 12px;

        border-radius: 999px;
        outline: 2px solid var(--text-color);

        background-color: var(--background-color-900);
        color: var(--primary-color-500);
    }
    @media (max-width: 992px) {
        .item {
            flex-direction: column;
            gap: var(--spacing-100);
        }
        .item[data-imageLeft = 'false'] {
            flex-direction: column;
            }
        .item[data-imageLeft = 'true'] .item-info {
            text-align: start;
            }
        .item img {
            width: 90%;
        } 
        .item .item-info {
            width: 80%;
        }
        .item .item-info p {
            margin-bottom: 8px;
        }

    }

</style>