---
import { Image } from 'astro:assets';

interface Props {
    userImg: ImageMetadata
    userName: string
    userReviewRating: number
    userReviewOpinion: string
    reviewSiteLink: string
    reviewSiteName: string
}

const {userImg, userName, userReviewRating, userReviewOpinion, reviewSiteLink, reviewSiteName} = Astro.props

---

<article class="review">
    <div>
        <header class="review-header">
            <Image src={userImg} alt="Foto de perfil de reseñador"></Image>
            <div>
                <h3>{userName}</h3>
                <div class="rating">
                    <p>{userReviewRating}.0</p>
                    <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path class="filled-star" d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" stroke-width="0"/>
                    </svg>
                    <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path class="filled-star" d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" stroke-width="0"/>
                    </svg>
                    <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path class="filled-star" d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" stroke-width="0"/>
                    </svg>
                    <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path class="filled-star" d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" stroke-width="0"/>
                    </svg>
                    <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path class="filled-star" d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" stroke-width="0"/>
                    </svg>
                </div>
            </div>
        </header>
        <p class="review-opinion">"{userReviewOpinion}"</p> 
    </div>
    

    
    <footer>
        <a href={reviewSiteLink}>Mira nuestras reseñas</a>
        <cite> de {reviewSiteName}</cite>
    </footer>
</article>

<style>
    .review {
        background-color: var(--background-color-600);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        align-self: stretch;
        padding: 12px;

        max-width: 350px;

        border-radius: 15px;

        text-align: start;
    }
    .review-header {
        display: flex;
        align-items: center;

        margin-bottom: 12px;
    }
    .review-header img {
        width: 50px;
        height: 50px;

        object-fit: cover;
        object-position: center;

        border-radius: 999px;

        margin-right: 12px;
    }
    .review-header h3 {
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-large);
    }
    .review-header p {
        font-size: var(--font-size-small);

        color: var(--primary-color-500);
    }
    .review-header .rating {
        display: flex;
        align-items: center;
    }
    .review-header .rating p {
        margin-right: var(--spacing-200);
        
        line-height: 1;
    }
    .review-header .rating .star {
        width: 18px;
        height: 18px;
    }
    .review-header .rating .filled-star{
        fill: var(--primary-color-500);
    }
    .review-header .rating .empty-star {
        fill: white;
    }
    .review-opinion {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-medium);

        margin-bottom: 24px;
    }
    .review footer {
        font-size: var(--font-size-small);
    }
    .review footer a {
        color: var(--background-color-100);

        text-decoration: underline;
    }
</style>